[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyterlab = "*"
psycopg2 = "*"
scipy = "*"
numpy = "*"
pip = "*"
install = "*"
opencv-contrib-python = "*"
matplotlib = "*"
seaborn = "*"

[dev-packages]

[requires]
python_version = "3.9"
